.about {
    height: 100vh;
    display: flex;
}

/* ----------------Seccion de la imagen---------------- */
.about-card {
    width: 60%;
    height: 80vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.about-left {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-card.about-bg {
    position: absolute;
    top: 30px;
    left: 100px;
}

/*  ----------------Seccion de la derecha ----------------*/
.about-right {
    flex: 5;
}

.about-title {
    font-weight: 400;
    font-size: 2rem;
    margin: 2rem;
}

.about-sub {
    margin: 1rem 2rem;
}

.about-description {
    font-weight: 300;
    margin: 1rem 2rem;
}

/* ----------------Seccion de los awards ----------------*/
.about-award {
    margin: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-award-img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}
.about-award-texts {
    width: 60%;
}
.about-award-sub {
    font-weight: 700;
    margin-bottom: .6rem;
}
.about-award-text {
    
}