.product{
    height: 30vh;
    margin: 20px 10px;
    width: 25%;
    border: 3px solid rgba(128, 128, 128, 0.438);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}
.product-browser{
    height: 20px;
    background-color: #52449d;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}
.product-circle{
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-left: 6px;
}
.product-image {
    width: 100%;
    transition: all 1s ease-in-out;
}
.product:hover .product-image {
   transform: translateY(-50%);
}