.contact{
    height: 100vh;
    position: relative;
}
.contact-bg{
    background-color:#ff7129;
    width: 5%;
    height: 100%;
    position: absolute;
}
.contact-wrapper{
    padding:0px 6%;
    display: flex;
}
.contact-right{
    padding-top: 30px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact-left{
    padding-top: 30px;
    flex: 1;
    padding-left: 50px;
}

.contact-title{
    font-size: 50px;
    width: 50%;
}
.contact-item{
    display: flex;
    align-items: center;
    margin: 25px 0;
}

.contact-icon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
form{
    margin: 20px 0 ;
}
input{
    width: 50%;
    height: 40px;
    border: 0;
    border-bottom: 1px solid black;
    margin: 10px 0;
    font-size: 1.1rem;
    padding-left: 10px;
}
textarea{
    width: 90%;
    margin-top: 20px;
    font-size: 1rem;
    padding-left: 10px;
}
button{
    border: none;
    padding: 15px;
    font-weight: 600;
    margin: 40px 0px;
}
button:hover{
    background: #ff6519;
    padding: 16px;
}