.contact{
    height: 100vh;
    position: relative;
}
.contact-bg{
    background-color: rgb(31, 133, 133);
    width: 5%;
    height: 100%;
    position: absolute;
}
.contact-wrapper{
    padding: 50px;
    display: flex;
}
.contact-right{
    flex: 1;
}
.contact-left{
    flex: 1;
    padding-left: 50px;
}

.contact-title{
    font-size: 50px;
    width: 70%;
}
.contact-item{
    display: flex;
    align-items: center;
    margin: 25px 0;
}

.contact-icon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}